{% extends 'common/base.html' %}

{% load staticfiles %}

{% block content %}

<!-- Content -->
<div id="">
  <div class="popup-form margin-center margin-top-el padding-top-l padding-bottom-l padding-right-s padding-left-s" style="width:300px;">
    <form class="" action="{% url 'create_designer_account' %}" method="post">
      {% csrf_token %}
    <p class="form-title text-center">デザイナーアカウントを作成</p>
    <div class="item" style="width:280px;">
      <i class="material-icons" style="color:#424242;">person</i>
      <input type="text" name="username" value="{{form_username}}" class="form-control" placeholder="名前を入力">
    </div>
    <p class="text-center margin-top-s margin-bottom-s font-size-s text-color-gray">※クライアントに表示される名前になります</p>
    <div class="item" style="width:280px;">
      <i class="material-icons" style="color:#424242;">email</i>
      <input type="text" name="email" value="{{form_email}}" class="form-control" placeholder="メールアドレス">
    </div>
    <div class="item" style="width:280px;">
      <i class="material-icons" style="color:#424242;">vpn_key</i>
      <input type="password" name="password1" value="" class="form-control" placeholder="パスワード">
    </div>
    <div class="item" style="width:280px;">
      <i class="material-icons" style="color:#424242;">vpn_key</i>
      <input type="password" name="password2" value="" class="form-control" placeholder="もう一度入力">
    </div>
    <p class="text-center margin-top-s margin-bottom-s font-size-m text-color-red">{{error}}</p>
    <button type="submit" class="form-button margin-top-m" id="add_person_confirm">登録する</button>
  </form>
  </div>

</div>

{% endblock %}
